# Agenda
* Single and multiple line Comments
* Variable Assign
* Python number and To check data type 
* To convert data type
* Strings

# Python Comments

In [1]:
print ("Hello, World!") #see the output

Hello, World!

In [2]:
#This is a comment
#Written in
#More than just one line
print ("Hello, Abhi")  #fgggf

Hello, Abhi

In [13]:
"""
This is a comment
written in 
more than just one line
"""
print ("Hello, World!")

Hello, World!

# Variable Assign
=

In [14]:
x = 5   #number
y = "John"  #String variables can be declared either
# by using single or double quotes:
print (y)

John

In [15]:
y

'John'

In [17]:
x=3

In [18]:
x

3

In [19]:
print (x)

3

In [21]:
x = "John"
x = 'abc'
print (x)

abc

In [23]:
[1,2,3,4]

[1, 2, 3, 4]

In [25]:
x=[21,22,23,34]

In [26]:
x

[21, 22, 23, 34]

In [28]:
print (x)

[21, 22, 23, 34]

# Assign Value to Multiple Variables
* Python allows you to assign values to multiple variables in one line:

In [2]:
x, y, z = "Orange","Banana", "Cherry"
print (x)
print (y)
print (z)

Orange
Banana
Cherry

In [2]:
x,y,z

('Orange', 'Banana', 'Cherry')

In [3]:
x, z

('Orange', 'Cherry')

# Python numbers
There are three numeric types in Python:
* int
* float
* complex

In [6]:
x=10    #int -->Discrete
y=2.8   #float ---> continuous
z= 1j   #complex  & J-IMAGINARY

In [4]:
y,x,z

(2.8, 10, 1j)

# To check data type

In [8]:
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
* Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [9]:
x = 1
y = 35656222554887711
z = -32

print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [10]:
x = 1.10
y = 1.0
z = -35.59

print (type(x))
print (type(y))
print (type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scientific numbers with an "e" to in

In [11]:
x = 35e1
z = 35e-1
y = 12e4

print (x)
print (y)
print (z)

print (type(x))
print (type(y))
print (type(z))

350.0
120000.0
3.5
<class 'float'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print (type(x))
print (type(y))
print (type(z))

# Type Conversion
You can convert from one type to another with the int(), float() and complex() methods

In [13]:
x = 1
print (type(x))
a = float (x)
print (type(a))
print (a)

<class 'int'>
<class 'float'>
1.0

In [14]:
x = 10.3  # float
print (type(x))
a = int(x)
print (type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [15]:
a = "Hello"
a

'Hello'

# Arrays

* Strings are Arrays
* Get the character at a position 1 (Remember that the first character has title)

In [17]:
# 01234567
a = "Hello, World"
print (a[5])

,

In [18]:
b = "Hello"
print (b[0:4])  # it stop before the last value of range

Hell

* The len() method returns the length of a string:

In [20]:
a = "Abhi"
len(a)

4


* The lower() method returns the string in lower case:

In [22]:
a = "Hello, World!"     # data
print (a.lower())   ## data.function

hello, world!

* The upper() method returns the string in upper case:

In [24]:
a = "Hello, World!"
print (a.upper())

HELLO, WORLD!

* The replace () methods replaces a string with another string:

In [25]:
a = "Hello, World!"
print (a.replace("H","J"))

Jello, World!

#  Command-line String Input (Specially for Company use)

In [5]:
x = input()
print ("Hello", x)   # specially for company use

Abhi
Hello Abhi