# ---1---

In [1]:
import numpy as np

In [2]:
number = int(input("Enter any number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter any number: 21
21 is not a prime number

# ---2---

In [3]:
import pandas as pd

In [4]:
r = "Hello World"[::-1]
print(r)

dlroW olleH

# ---3---

In [5]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
Days

['Monday', 'tuesday', 'friday', 'Sunday', 'Saturday']

In [6]:
for word in Days:
    if word[0].isupper():
        print (word)

Monday
Sunday
Saturday

# ---4---

In [7]:
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
Batch

['15-06-1997', '15-06-2011', '15-06-1993', '15-06-2020']

In [8]:
import datetime as dt
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
[dt.datetime.strptime(date_string, "%d-%m-%Y").year for date_string in Batch]

[1997, 2011, 1993, 2020]

# ---5---

In [9]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
Module

{'Data Science': 1, 'Machine Learning': 2, 'SQL': 3, 'Big Data': 4}

In [10]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
Module2 = {}
 
for x, y in Module.items():
    Module2[y] = Module2.get(y, []) + [x]
print(Module2)

{1: ['Data Science'], 2: ['Machine Learning'], 3: ['SQL'], 4: ['Big Data']}

# ---6---

In [11]:
A = [5,2,1,4,6]
A

[5, 2, 1, 4, 6]

In [12]:
A = [5,2,1,4,6]
A_len= len(A)
A_avg = reduce(lambda x, y: x + y, A) /A_len 
print("Average value of the list:\n") 
print(A_avg)

NameError: name 'reduce' is not defined

# ---7---

# ---8---

In [ ]:
number = int(input("Enter any number: "))
def in_range(n):
    if n in range(1000,10000):
        print( " %s is in the range" %str(n))
    else :
        print("The number is not in the given range.")
in_range(number)

# ---9---

# ---10---

In [ ]:
score = [10, 32, 23, 14, 25]
score

In [ ]:
total = sum(score)
total

# ---11---

In [ ]:
Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])
Score

In [ ]:
S = np.min(Score)
S

# ---12---

In [ ]:
list = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
list