# ---1---

In [1]:
comments = ['He is a good boy', 'Food is the worst here', 'He is an awesome player', 'She is the best',
'This pizza tastes awful', 'These burger are really nice']
comments

['He is a good boy',
 'Food is the worst here',
 'He is an awesome player',
 'She is the best',
 'This pizza tastes awful',
 'These burger are really nice']

In [2]:
positive = ['good','awesome', 'best', 'nice'] 
negative = ['worst','awful']

In [3]:
for i in comments:
    tokens = i.split()
    print(tokens)

['He', 'is', 'a', 'good', 'boy']
['Food', 'is', 'the', 'worst', 'here']
['He', 'is', 'an', 'awesome', 'player']
['She', 'is', 'the', 'best']
['This', 'pizza', 'tastes', 'awful']
['These', 'burger', 'are', 'really', 'nice']

In [4]:
for word in tokens:
    if word in negative:
        print(-1)

In [5]:
def analyze (text, pos_words= positive, neg_words= negative):
    score = 0
    tokens = text.split(" ")
    score += sum(1 for word in tokens if word in pos_words)
    score += sum(-1 for word in tokens if word in neg_words)
    
    if score > 0:
        sentiment = "Positive"
    elif score < 0:
        sentiment = "Negative"
    return sentiment

In [6]:
for text in comments:
    sentiment = analyze (text, positive, negative)
    print(f"comments: {text} : {sentiment}")

comments: He is a good boy : Positive
comments: Food is the worst here : Negative
comments: He is an awesome player : Positive
comments: She is the best : Positive
comments: This pizza tastes awful : Negative
comments: These burger are really nice : Positive

# ---2---

In [7]:
import numpy as np
import math
A ={'Square':lambda x: x**2,
    'Cube':lambda x: x**3,
    'Squareroot':lambda x:np.sqrt(x)}
num=int(input())
result=0 ;
for fun in A:
    result += A[fun](num)
print(result)

3
37.732050807568875

# ---3---

In [8]:
fruits = (('Lemon','sour'),
('DragonFruit', 'Sweet'),
('Grapes','soUr'),
('Kiwi','Sour'),
('Apples','sweet'),
('Orange','sour'),
('Blueberries','sweet'),
('Limes','Sour')
)
fruits

(('Lemon', 'sour'),
 ('DragonFruit', 'Sweet'),
 ('Grapes', 'soUr'),
 ('Kiwi', 'Sour'),
 ('Apples', 'sweet'),
 ('Orange', 'sour'),
 ('Blueberries', 'sweet'),
 ('Limes', 'Sour'))

In [9]:
output = []

In [10]:
for i in fruits:
    Fruit, taste = i
    abc = 'sour'
    if taste.lower() == abc.lower():
        output.append(Fruit)
output

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

# ---4---

In [11]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
ls

['hello', 'Dear', 'hOw', 'ARe', 'You']

In [12]:
for i in ls:
    own = i.split()
    print(own)

['hello']
['Dear']
['hOw']
['ARe']
['You']

In [13]:
for word in own:
    if word[1].isupper():
        print (word)

# ---5---

In [14]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81
wMoon = (wEarth * GMoon) / GEarth

NameError: name 'wEarth' is not defined

# ---6---

In [15]:
txt = ['santa Maria', 'Hello World','Merry christmas', 'tHankYou']
txt

['santa Maria', 'Hello World', 'Merry christmas', 'tHankYou']

In [16]:
for i in txt:
    rash = i.split()
    print(rash)

['santa', 'Maria']
['Hello', 'World']
['Merry', 'christmas']
['tHankYou']

In [17]:
for word in rash:
    if word[0].isupper():
        print (word)

# ---7---

In [18]:
Set = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9,
12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
Set

[[1, 2, 3, 4, 8],
 [2, 3, 8, 5, 6],
 [8, 4, 5, 3, 7],
 [6, 9, 8, 3],
 [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

In [19]:
from functools import reduce
reduce(set.intersection, [set(Set) for Set in Set])

{3, 8}

# ---8---

In [20]:
A = [9,8,7,6,5]
A

[9, 8, 7, 6, 5]

In [21]:
A = [9,8,7,6,5]
A_len= len(A)
A_avg = reduce(lambda x, y: x + y, A) /A_len 
print("Average value of the list:\n") 
print(A_avg)

Average value of the list:

7.0

# ---9---

In [22]:
TF = ['True','FALse','tRUe','tRue','False','faLse']
TF

['True', 'FALse', 'tRUe', 'tRue', 'False', 'faLse']

In [23]:
lst = [x.upper() for x in TF]
print(lst)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

# ---10---

In [24]:
Dtl = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
Dtl

['17-12-1997', '22-04-2011', '01-05-1993', '19-06-2020']

In [25]:
import datetime as dt
Dtl = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
[dt.datetime.strptime(date_string, "%d-%m-%Y").year for date_string in Dtl]

[1997, 2011, 1993, 2020]