In [7]:
import pandas as pd
# Create some toy data in a pandas dataframe
fruit_data = pd.DataFrame({'Gender': ['Female', 'Male', 'Male', 'Female'],
                          'Marital_Status':['Single', 'Married', 'Divorced', 'Married']})
fruit_data

   Gender Marital_Status
0  Female         Single
1    Male        Married
2    Male       Divorced
3  Female        Married

In [8]:
fruit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          4 non-null      object
 1   Marital_Status  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [9]:
fruit_data

   Gender Marital_Status
0  Female         Single
1    Male        Married
2    Male       Divorced
3  Female        Married

In [10]:
# from module.sub-module import function
from sklearn.preprocessing import LabelEncoder   # function

fruit_data.apply(LabelEncoder().fit_transform)

   Gender  Marital_Status
0       0               2
1       1               1
2       1               0
3       0               1

In [12]:
fruit_data.Gender = LabelEncoder().fit_transform(fruit_data.Gender)
fruit_data

   Gender Marital_Status
0       0         Single
1       1        Married
2       1       Divorced
3       0        Married

In [14]:
import pandas as pd
# Create some toy data in a pandas dataframe

fruit_data = pd.DataFrame({'Gender': ['Female', 'Male', 'Male', 'Female'],
                          'Marital_Status':['Single', 'Married', 'Divorced', 'Married']})
fruit_data

   Gender Marital_Status
0  Female         Single
1    Male        Married
2    Male       Divorced
3  Female        Married